<h1>Welcome to {{hotelName}}</h1>
<div [hidden]=hideRooms>
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
</div>
<div *ngIf="rooms.availableRooms >0">
    Rooms List
    {{roomList}}
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>RoomType</th>
            <th>Amenities</th>
            <th>Price</th>
            <th>CheckinTime</th>
        </tr>
        <tr [ngClass]="e? 'even': 'odd'" *ngFor="let room of roomList ;let e = even; let o = odd; let i  = index">
            <td>{{i}}</td>
            <td>{{e ? "Even" : "odd"}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.price}}</td>
            <td>{{room.checkinTime}}</td>

        </tr>
    </table>
</div>
<button (click)="toggle()">Toggle</button>